{% extends "base.html.twig" %}
{% block body %}
    {% if message is defined %}
        {{ message }} <br>
    {% endif %}
    {% for material in materials %}
        {{ material.name }}
        <a href="/materials/update/{{ material.id }}">Edycja materiału</a> <br>
    {% endfor %}

    <form action="#" method="POST">
        Utwórz nowy materiał:<br>
        Nazwa: <input type="text" name="name" required><br>
        Kod: <input type="text" name="code" required><br>
        Jednostka miary:
        <select name="unit">
            <option value="null">brak jednostki miary</option>
            {% for unit in units %}
                <option value={{ unit.id }}>{{ unit.name }}</option>
            {% endfor %}
        </select> <br>
        Grupa materiałów:
        <select name="group">
            {% for group in groups %}
                <option value={{ group.id }}>{{ group.name }} (Grupa nadrzędna: {{ group.parent.name }})</option>
            {% endfor %}
        </select> <br>
        <input type="submit" name="add" value="Dodaj materiał do bazy">
    </form>
{% endblock %}