{% extends "base.html.twig" %}
{% block body %}
    {% if message is defined %}
        {{ message }} <br>
    {% endif %}

    {#{{ _self.recursiveList(groups) }}#}

    <form action="#" method="POST">
        Utwórz nową grupę materiałów:<br>
        Nazwa: <input type="text" name="name" required><br>
        Grupa wyjściowa:
        <select name="group">
            <option value="null">Nowa grupa główna</option>
            {% for group in allGroups %}
                <option value={{ group.id }}>{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="add" value="Dodaj grupę do bazy">
    </form>

{% endblock %}


    {#{% macro recursiveList(groups) %}#}
        {#{% for group in groups %}#}

            {#{% if group is iterable %}#}
                {#Grupa: {{ group.name }} <br>#}
                {#{% for sub_group in group %}#}
                    {#{{ _self.recursiveList(sub_group) }}#}
                {#{% endfor %}#}
            {#{% else %}#}
                {#Grupa: {{ group.name }} <br>#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#{% endmacro %}#}