{% extends "base.html.twig" %}
{% block body %}
    {% if message is defined %}
        <h1 align="center">{{ message }}</h1>
    {% else %}
        <div class="w3-container w3-indigo">
            <h2>Dane grupy do zmiany - <b>{{ group.name }}</b></h2>
        </div>
        <form action="#" method="POST">
            <table class="w3-table w3-striped">
                <tr>
                    <th></th>
                    <th>Aktualne dane</th>
                    <th>Zmień dane (pozycje bez zmian pozostawić puste)</th>
                </tr>
                <tr>
                    <th>Nazwa</th>
                    <th>{{ group.name }}</th>
                    <th><input type="text" name="name"></th>
                </tr>
                <tr>
                    <th>Grupa nadrzędna</th>
                    <th> {% if group.parent.name is defined %}
                            {{ group.parent.name }}
                        {% else %}
                            -
                        {% endif %}
                    </th>
                    <th>
                        <select name="group">
                            <option value="same"></option>
                            <option value="null">Nowa grupa główna</option>
                            {{ _self.newList(groups) }}
                            {% macro newList(groups) %}
                                {% for group in groups %}
                                    {% if group.parent == null %}
                                        <optgroup label="--------------------------------">
                                        </optgroup>
                                    {% else %}
                                        <optgroup label="-----">
                                        </optgroup>
                                    {% endif %}
                                    {% if group.children|length >= 1 %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                        {{ _self.newList(group.children) }}
                                    {% else %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endmacro %}
                        </select>
                    </th>
                </tr>
            </table>
            <input class="w3-button w3-black" type="submit" name="change" value="Aktualizuj">
        </form>
    {% endif %}
{% endblock %}
